<h1>Table</h1>


<div class="container">
  <table  class="table table-fluid" id="myTable" >
    <thead>
      <tr>
        <th><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></th>
        <th scope="col" *ngFor="let col of listOfCol ">{{this.col.colName}}</th>
      <th scope="col" *ngFor="let action of listOfAction ">
        <button class="btn btn-primary"> {{this.action.actionName}}</button>
      </th>
      </tr>
    </thead>
    <tbody>
      <th><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></th>
      <th scope="col" *ngFor="let colValue of listOfColValue ">{{this.colValue.colValue}}</th>
    <th scope="col" *ngFor="let action of listOfAction ">
      <button class="btn btn-primary" routerLink="this.action.actionPath"  > {{this.action.actionName}}</button>
    </th>
    </tbody>
    
  </table>
</div>
